<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_moitagne"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_moitagne_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MontaigneApp"
        tools:targetApi="31">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />

        <meta-data
            android:name="com.google.android.geo.Api-key"
            android:value="" />

        <activity
            android:name=".ui.spt.SptActivity"
            android:exported="false" />
        <activity
            android:name=".ui.spt.carimboEnsaio.CarimboEnsaioFragment"
            android:exported="false" />
        <activity
            android:name=".ui.spt.projeto.ProjetoFragment"
            android:exported="false" />
        <activity
            android:name=".ui.spt.furo.FuroFragment"
            android:exported="false" />
        <activity
            android:name=".ui.spt.ensaio.EnsaioFragment"
            android:exported="false" />
        <activity
            android:name=".ui.spt.carimboProjeto.CarimboProjetoFragment"
            android:exported="false" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.MontaigneApp.NoActionBar"
            android:screenOrientation="userPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.montaigne.montaigneapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>