<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.montaigne.montaigneapp">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MontaigneApp"
        android:name="com.orm.SugarApp"tools:targetApi="31" tools:replace="android:icon">
        <activity
            android:name=".ProjetoActivity"
            android:exported="false" />
        <activity
            android:name=".FuroActivity"
            android:exported="false" />
        <activity
            android:name=".EnsaioActivity"
            android:exported="false" />
        <activity
            android:name=".CarimboDefinitivoActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MontaigneApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="DATABASE"
            android:value="exemplo.db"/>

        <meta-data android:name="VERSION"
            android:value="1"/>

        <meta-data android:name="QUERY_LOG"
            android:value="true"/>

        <meta-data android:name="DOMAIN_PACKAGE_NOME"
            android:value="com.montaigne.montaigneapp"/>

    </application>

</manifest>